@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* ========= RESET ========== */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Rubik";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ========= VAR COLORS ========= */
:root {
    --primary: #fa7435;
    --secondary: #323141;
    --white: #fff;
    --gray: #b9b8b8;
}

/* ========= MODIFIING CLASSES ======== */
.container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: 13px 23px;
    transition: .3s;
    border-radius: 5px;
    font-weight: 500;
}
.btn-primary {
    color: var(--white);
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.btn-primary:hover {
    background: none;
    color: var(--primary);
    bottom: 5px;
}

.btn-ghost {
    color: var(--secondary);
    background-color: var(--white);
    box-shadow: 0 0 20px var(--gray);
     border: 2px solid var(--white);
}

.btn-ghost:hover {
    background: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
    bottom: 5px;
}

.btn-dark {
    color: var(--white);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}
.btn-dark:hover {
    background: none;
    color: var(--secondary);
    bottom: 5px;
}
/* =========================== 
            HEADER 
============================== */
#header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: .3s ease-in-out;
}

#header__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;
}
/* STICKY EFFECT HEADER */
#header.sticky {
    top: 20px;
    height: 80px;
    transition: .5s ease-in-out;
}

#header.sticky #header__container {
    width: 1120px;
    border-radius: .5rem;
    box-shadow: 0 0 12px var(--gray);
    transition: .3s;
    background-color: var(--white);
}

#header__logo {
    font-size: 2rem;
    color: var(--secondary)
}

#header__logo span {
    color: var(--primary)
}

#header__menu {
    display: flex;
    gap: 50px;
}

.header__link {
    padding: 3px;
    color: var(--secondary);
    position: relative;
    transition: color .3s;
}

.header__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    position: relative;
    top: 7px;
    scale: 0;
    transition: scale .3s;
}

.header__link:hover {
    color: var(--primary);
}

.header__link:hover::after {
    scale: 1;
}

/* ============================= 
              HOME 
================================ */
#home {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    position: relative;
    border-radius: 0 0 25% 0;
}

#home__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#home__content-txt {
    margin-top: -8rem;
    width: 50%;
}

#home__alternative-txt {
    margin-bottom: 1.25rem;
    display: inline-block;
    color: var(--secondary)
}

#home__alternative-txt p {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary);
    display: flex;
    align-items: end;
}

#home__alternative-txt span {
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--primary);
    position: relative;
    top: -4px;
}

#home__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
    color: var(--secondary);
    display: inline-block;
}

#home__p {
    max-width: 90%;
    margin-bottom: 4rem;
    color: var(--secondary);
}

#home__btn-2 {
    margin-left: 1rem;
}

#home__content-img {
    width: 50%;
    margin-top: -6rem;
    text-align: right;
}

#home__content-img img {
    width: 90%;
    position: relative;
}

/* ===========================
            ABOUT
===========================*/
#about {
    background-color: var(--white);
}

#about .container {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 30px;
}

#about__metrics {
    width: 1000px;
    margin: 0 auto;
    margin-top: -105px;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 -5px 20px #e4e3e3;
}

#about__metrics ul {
    display: flex;
    justify-content: space-between;
}

#about__metrics ul li {
    text-align: center;
}

.about__metrics-number {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary);
}

.about__metrics-desc {
    color: var(--gray);
}

.about__metrics-divider {
    display: block;
    width: 1px;
    height: 66px;
    background-color: #e9e9e9;
}
#about__title {
    padding: 8px 20px;
    font-size: 2rem;
    border-radius: 25px;
    margin: 40px 0 0px 0;
    text-align: center;
    color: var(--secondary);
}

.section-line {
    width: 6rem;
    height: .25rem;
    background-color: var(--primary);
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
#about__internal-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}
#about__content-img{
    width: 50%;
}
#about__content-img img{
    width: 100%;
}
#about__content-txt{
    /* background-color: var(--white); */
    padding: 2rem;
    border-radius: 25px;
    width: 50%;
    /* box-shadow: 0 0 40px #cccccc; */
}
#about__content-txt p:nth-child(1){
    margin-bottom: 1rem;
    color: var(--primary);
}
#about__content-txt h3{
    font-size: 2rem;
    color: var(--secondary);
    margin-bottom: 1.5rem;
}
#about__content-txt p:nth-child(3){
    color: var(--secondary);
    margin-bottom: 4rem;
}