@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ========= RESET ========== */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ========== ANIMATIONS ========== */

@keyframes float {
    0% {
        bottom: 2rem;
    }

    50% {
        bottom: 2ch;
    }

    100% {
        bottom: 2rem;
    }
}

/* ========== VAR COLORS ========= */
:root {
    --primary: #fa7435;
    --secondary: #3d3b58;
    --white: #fff;
    --gray: #b9b8b8;
}

/* ========= MODIFIING CLASSES ======== */
.container {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}

.btn {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: 13px 40px;
    transition: .3s;
    border-radius: 5px;
}

.btn-primary {
    color: var(--white);
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.btn-primary:hover {
    background: none;
    color: var(--primary);
    bottom: 5px;
}

.btn-ghost {
    color: var(--secondary);
    background-color: var(--white);
    box-shadow: 5px 5px 10px var(--gray);
    border: 2px solid var(--white);
}

.btn-ghost:hover {
    background: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
    bottom: 5px;
}

.btn-dark-none {
    color: var(--secondary);
    background: none;
    border: 2px solid var(--secondary);
}

.btn-dark-none:hover {
    background-color: var(--secondary);
    color: var(--white);
    bottom: 5px;
}
.btn-dark {
    background-color: var(--secondary);
    color: var(--white);
    border: 2px solid var(--secondary);
}

.btn-dark:hover {
    background: none;
    color: var(--secondary);
    bottom: 5px;
}

.headline{
    text-align: center;
    margin-bottom: 40px;
}

.headline p {
    font-size: 1.125rem;
    color: var(--primary);
    margin-bottom: .5rem;
}

.headline h2 {
    display: inline-block;
    font-size: 2.2rem;
    border-radius: 25px;
    margin: 0px 0 20px 0;
    text-align: left;
    color: var(--secondary);
    line-height: 1;
}

.headline div {
    width: 6rem;
    height: .25rem;
    background-color: var(--primary);
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.content-flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content-flex .content-txt,
.content-flex .content-img{
    width: 50%;
}

.content-flex .content-img img{
    width: 100%;
}
/* =========================== 
            HEADER 
============================== */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: .3s ease-in-out;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;
}

/* STICKY EFFECT HEADER */
header.sticky {
    top: 20px;
    height: 80px;
    transition: .5s ease-in-out;
}

header.sticky .container {
    width: 1120px;
    border-radius: .5rem;
    box-shadow: 0 0 12px var(--gray);
    transition: .5s;
    background-color: var(--white);
}

header #logo {
    font-size: 2rem;
    color: var(--secondary)
}

header #logo span {
    color: var(--primary)
}

header .container nav {
    display: flex;
    gap: 50px;
}

header .container nav a {
    padding: 3px;
    color: var(--secondary);
    position: relative;
    transition: color .3s;
}

header .container nav a::after,
header .container nav a.active::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    position: relative;
    top: 7px;
    transition: width .3s;
}

header .container nav a.active,
header .container nav a:hover {
    color: var(--primary);
}

header .container nav a.active::after,
header .container nav a:hover::after {
    width: 100%;
}

/* ============================= 
              HOME 
================================ */
#home {
    width: 100%;
    height: 100vh;
    margin-bottom: 65px;
    position: relative;
    border-radius: 0 0 25% 0;
}

#home .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

#home .content-flex .content-txt p:first-child {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: var(--secondary);
    display: flex;
    align-items: end;
}

#home .content-flex .content-txt span {
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--secondary);
    position: relative;
    top: -4px;
}

#home .content-flex .content-txt h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 1;
    color: var(--secondary);
}

#home .content-flex .content-txt p {
    font-size: 16px;
    max-width: 90%;
    margin-bottom: 3rem;
    color: var(--secondary);
}

#home .content-flex .content-txt .btn:last-child {
    margin-left: 1rem;
}

#home .content-flex .content-img img{
    width: 100%;
    transform: scaleX(-1);
}

#home .container #arrow {
    width: 30px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    rotate: 90deg;
    animation: float 1s ease-in-out infinite;
}

/* ===========================
            ABOUT
===========================*/
#about {
    background-color: var(--white);
}

#about #container-one {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 30px;
}

#about__metrics {
    width: 1000px;
    margin: -105px auto 40px auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 0px 20px #cccccc;
}

#about__metrics ul {
    display: flex;
    justify-content: space-between;
}

#about__metrics ul .divider {
    display: block;
    width: 2px;
    height: 66px;
    background-color: #e9e9e9;
}

#about__metrics ul li {
    text-align: center;
}

#about__metrics ul li .counter {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondary);
}

#about__metrics ul li .description {
    color: var(--gray);
}

#about #container-one #content-txt div p{
    color: var(--primary);
}
#about #container-one #content-txt div h2 span {
    font-weight: 400;
}

#about #container-one .content-txt .content-txt-paragraph {
    margin-bottom: 1.5rem;
    color: var(--secondary);
    font-size: 16px;
}
#about #container-one .content-txt .headline{
    text-align: left;
}
#about #container-one .content-txt .headline div{
    left: 0;
    transform: translate(0);
}
#about #container-two{
    padding: 100px 40px;
}

#about #container-two .content-txt ul {
    width: 100%;
}

#about #container-two .content-txt ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: 5px 5px 10px #e4e4e4;
}

#about #container-two .content-txt ul li:last-child {
    margin-bottom: 0;
}

#about__content-txt-two ul li .box-icon {
    width: 70px;
    height: 70px;
}

#about__content-txt-two ul li div i {
    font-size: 3rem;
    color: var(--primary);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#about__content-txt-two ul li .box-txt {
    width: calc(100% - 70px);
}

#about__content-txt-two ul li div h4 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    color: var(--secondary);
}

#about__content-txt-two ul li div p {
    color: var(--gray);
}

/* ================================
            SERVICES 
===================================*/
#services .container {
    border-radius: 30px;
    background-color: #f7f7f7;
}

#services__cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.services__card {
    flex: 1 1 calc((1200px - 128px) / 3);
    padding: 25px;
    border-radius: 12px;
    background-color: var(--white);
    scale: 1;
    transition: all .5s ease-in-out;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #f7f7f7;
}

.services__card:hover {
    box-shadow: 2px 6px 10px #d4d4d4;
    border-color: var(--primary);
    scale: .9;
}

.services__card div {
    height: 70px;
    margin-bottom: 2rem;
}

.services__card div img {
    height: 100%;
}

.services__card h3 {
    color: var(--secondary);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.services__card p {
    color: var(--gray);
}

.services__card a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    color: var(--gray);
    font-weight: 500;
    transition: color .3s ease-in-out;
}

/* ========== WORKS =========== */
#works .container{padding: 100px 40px}
#works article {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 40px;
    margin-bottom: 4rem;
    border-radius: 25px;
    box-shadow: 0 0 30px #dadada;
}

#works article.reverse div {
    order: 1;
}

#works article.reverse img {
    order: 2;
}

#works article:nth-of-type(4) {
    margin-bottom: 0;
}

#works article:nth-of-type(1) {
    margin-top: 5rem;
}

#works article img {
    border-radius: 25px;
    transition: scale .5s ease-in-out;
}

#works article img:hover {
    scale: .9;
}

#works article h3 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--secondary);
}

#works article p {
    font-size: 18px;
    color: var(--secondary);
    margin-bottom: 1.5rem;
}