@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* ========= RESET ========== */
html{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Rubik";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ========== ANIMATIONS ========== */

@keyframes float {
    0%{
        bottom: 6rem;
    }
    50%{
        bottom: 6.5rem;
    }
    100%{
        bottom: 6rem;
    }
}

/* ========== VAR COLORS ========= */
:root {
    --primary: #fa7435;
    --secondary: #3d3b58;
    --white: #fff;
    --gray: #b9b8b8;
}

/* ========= MODIFIING CLASSES ======== */
.container {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: 13px 23px;
    transition: .3s;
    border-radius: 5px;
    font-weight: 500;
}
.btn-primary {
    color: var(--white);
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.btn-primary:hover {
    background: none;
    color: var(--primary);
    bottom: 5px;
}

.btn-ghost {
    color: var(--secondary);
    background-color: var(--white);
    box-shadow: 5px 5px 10px var(--gray);
     border: 2px solid var(--white);
}

.btn-ghost:hover {
    background: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
    bottom: 5px;
}

.btn-dark {
    color: var(--white);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}
.btn-dark:hover {
    background: none;
    color: var(--secondary);
    bottom: 5px;
}
.section-line {
    width: 6rem;
    height: .25rem;
    background-color: var(--primary);
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}
.section-title{
    font-size: 2rem;
    border-radius: 25px;
    margin: 0px 0 10px 0;
    text-align: left;
    color: var(--secondary);
}
.section-paragraph{
    color: var(--primary);
    margin-bottom: 1rem;
}
/* =========================== 
            HEADER 
============================== */
#header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: .3s ease-in-out;
}

#header__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;
}
/* STICKY EFFECT HEADER */
#header.sticky {
    top: 20px;
    height: 80px;
    transition: .5s ease-in-out;
}

#header.sticky #header__container {
    width: 1120px;
    border-radius: .5rem;
    box-shadow: 0 0 12px var(--gray);
    transition: .5s;
    background-color: var(--white);
}

#header__logo {
    font-size: 2rem;
    color: var(--secondary)
}

#header__logo span {
    color: var(--primary)
}

#header__menu {
    display: flex;
    gap: 50px;
}

.header__menu-link {
    padding: 3px;
    color: var(--secondary);
    position: relative;
    transition: color .3s;
}

.header__menu-link::after,
.header__menu-link.active::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    position: relative;
    top: 7px;
    transition: width .3s;
}

.header__menu-link:hover {
    color: var(--primary);
}

.header__menu-link:hover::after {
    width: 100%;
}
.header__menu-link.active{
    color: var(--primary);
}
.header__menu-link.active::after{
    width: 100%;
    color: var(--primary);
}
/* ============================= 
              HOME 
================================ */
#home {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    position: relative;
    border-radius: 0 0 25% 0;
}
#home__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#home__content-txt {
    margin-top: -8rem;
    width: 50%;
}

#home__alternative-txt {
    margin-bottom: 1.25rem;
    display: inline-block;
    color: var(--secondary)
}

#home__alternative-txt p {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary);
    display: flex;
    align-items: end;
}

#home__alternative-txt span {
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--primary);
    position: relative;
    top: -4px;
}

#home__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
    color: var(--secondary);
    display: inline-block;
}

#home__p {
    max-width: 90%;
    margin-bottom: 4rem;
    color: var(--secondary);
}

#home__btn-2 {
    margin-left: 1rem;
}

#home__content-img {
    width: 50%;
    margin-top: -6rem;
    text-align: right;
}

#home__content-img img {
    width: 90%;
    position: relative;
    transform: scaleX(-1);
}
#home__container i{
    font-size: 2rem;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    rotate: 45deg;
    color: var(--gray);
    animation: float 1s ease-in-out infinite;
}
/* ===========================
            ABOUT
===========================*/
#about {
    background-color: var(--white);
}

#about .container:nth-child(1) {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 30px;
}

#about__metrics {
    width: 1000px;
    margin: -105px auto 40px auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 5px 10px #e4e3e3;
}

#about__metrics ul {
    display: flex;
    justify-content: space-between;
}

#about__metrics ul li {
    text-align: center;
}

.about__metrics-number {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary);
}

.about__metrics-desc {
    color: var(--gray);
}

.about__metrics-divider {
    display: block;
    width: 1px;
    height: 66px;
    background-color: #e9e9e9;
}

#about__internal-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}
#about__content-img{
    width: 50%;
}
#about__content-img img{
    width: 100%;
}
#about__content-txt{
    border-radius: 25px;
    width: 50%;
}
#about__content-txt p:nth-child(1){
    margin-bottom: 1rem;
    color: var(--primary);
}
.about__content-txt-paragraph{
    margin-bottom: 1rem;
    color: var(--secondary);
}
.about__content-txt-paragraph:nth-of-type(3){
    margin-bottom: 40px;
}
#about__content-txt h3{
    font-size: 2rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}
#about__content-txt h3 span{
    font-weight: 400;
}
#about__content-txt h3 span:nth-child(2){
    color: var(--primary)
}





#about .container:nth-child(2){
    margin: 80px auto;
}
#about__internal-container-two{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#about__content-txt-two{
    width: 50%;
}
#about__content-txt-two p:nth-child(1){
    margin-bottom: 1rem;
    color: var(--primary);
}
#about__content-txt-two h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--secondary);
}
#about__content-txt-two ul{
    width: 100%;
}
#about__content-txt-two ul li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: 5px 5px 10px #e4e4e4;
}
#about__content-txt-two ul li:last-child{
    margin-bottom: 0;
}
#about__content-txt-two ul li .box-icon{
    width: 70px;
    height: 70px;
}
#about__content-txt-two ul li div i{
    font-size: 3rem;
    color: var(--primary);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#about__content-txt-two ul li .box-txt{
    width: calc(100% - 70px);
}
#about__content-txt-two ul li div h4{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    color: var(--secondary);
}
#about__content-txt-two ul li div p{
    color: var(--gray);
}
#about__content-img-two{
    width: 50%;
}
#about__content-img-two img{
    width: 100%;
}

/* ================================
            SERVICES 
===================================*/
#services .container{
    border-radius: 30px;
    background-color: #f7f7f7;
}
#services__cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.services__card{
    flex: 1 1 calc((1200px - 128px) / 3);
    padding: 25px;
    border-radius: 12px;
    background-color: var(--white);
    scale: 1;
    transition: all .5s ease-in-out;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #f7f7f7;
}
.services__card:hover{
    box-shadow: 2px 6px 10px #d4d4d4;
    border-color: var(--primary);
}
.services__card:hover::after{
    width: 100%;
    height: 100%;
}
.services__card div{
    height: 70px;
    margin-bottom: 2rem;
}
.services__card div img{
    height: 100%;
}
.services__card h3{
    color: var(--secondary);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}
.services__card p{
    color: var(--gray);
}
.services__card a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    color: var(--gray);
    font-weight: 500;
    transition: color .3s ease-in-out;
}
